button {
    background-color: #dc3545; /* Bootstrap Danger Color (Red) */
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  button:hover {
    background-color: #c82333; /* Darker Red on Hover */
  }
  
  button:active {
    background-color: #a71d2a; /* Even Darker Red on Click */
    transform: scale(0.98);
  }
  
  button:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(220, 53, 69, 0.5);
  }

  .home-container {
    display: flex;
    justify-content: space-between; /* Moves button to the right */
    align-items: center;
    padding: 10px;
  }
  
  .admin-container {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
    color: #333;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .label {
    font-weight: bold;
  }
  
  .input-field {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .input-field:focus {
    border-color: #4e8bff;
    outline: none;
  }
  
  .submit-btn {
    width: 100%;
    padding: 10px;
    background-color: #4e8bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .submit-btn:disabled {
    background-color: #ccc;
  }
  
  .error-message {
    color: red;
    font-size: 12px;
  }
  
  